{% extends 'base.html' %}
{% if messages %}
    {% for message in messages %}
    <script>
        alert('{{message.message}}');
    </script>
    {% endfor %}
{% endif %}
{% load list_filter %}
{% load static %}
{% block content %}
<style>
@media (max-width: 600px) {
    .btn-basic {top:100px; width:100vw;}
}
</style>
<div class="list-container">
    <div class="btn-basic list-on-list">
        <img class="btn-list-over" src="{% static 'images/List.png'%}">
        List
    </div>
    <div class="btn-basic" style="text-align:center; height:80px;">
        <a href="{% url 'dream_list:board_create' %}" class="btn-write" style="color:#000000;">
            <img class="btn-write-out" src="{% static 'images/pencil.png'%}">
            Write
        </a>
    </div>  
    <br>
    <table class="table table-hover table-sm">
        <tbody>
        {% if dream_list %}
        {% for board in dream_list %}
        <tr class="text-center">
            <!--<td>{{ dream_list.paginator.count|sub:dream_list.start_index|sub:forloop.counter0|add:1 }}</td>-->
            <td class="text-left">
                <a href="{% url 'dream_list:detail' board.id %}" style="color:#000000;">{{ board.title }}</a>                
            </td>
            <td>{{ board.writer }}</td>            
            <td>{{ board.cdate|date:"y/m/d" }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">등록된 글이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table> 
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center" style="font-size: 24px; color: #303030; border:none !important;">
        <!-- 이전페이지 -->
        {% if dream_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ dream_list.previous_page_number }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in dream_list.paginator.page_range %}
        {% if page_number >= dream_list.number|add:-10 and page_number <= dream_list.number|add:10 %}
            {% if page_number == dream_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if dream_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ dream_list.next_page_number }}" href="#">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
<div class="list-search-and-page">
<form id="pageForm" method="get" action="{% url 'dream_list:index' %}">    
    <input type="hidden" id="page" name="page" value="{{ page }}">  
</form>


<form id="searchForm" method="get" action="{% url 'dream_list:index' %}">    
    <input type="text" id="query" name="query">
    <input type="submit" class="list-btn" value="검색">
</form>
</div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    $(document).ready(function(){
        $(".page-link").on('click', function() {
            $("#page").val($(this).data("page"));
            $("#pageForm").submit();
        });     
    });
</script>
{% endblock %}