* {
    background: #010101;
    text-align: center;
}
.wrap { 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    position: absolute;
    width: 100%;
    height: 100%;

}

.head-title {

    position: static;
    width: 274px;
    height: 32px;
    left: 0px;
    top: 0px;
    
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 79.2%;
    /* identical to box height, or 32px */
    
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: capitalize;
    
    color: #FFFFFF;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;

}

.btn-list,
.icon-list {
    position: static;
    width: 60px;
    height: 32px;
    left: 40px;
    top: 0px;

    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 79.2%;
    /* identical to box height, or 32px */

    text-align: center;
    letter-spacing: -0.04em;
    text-transform: capitalize;

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;

}

.btn-write,
.icon-write {
    position: static;
    width: 92px;
    height: 32px;
    left: 40px;
    top: 0px;

    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 79.2%;
    /* identical to box height, or 32px */

    text-align: center;
    letter-spacing: -0.04em;
    text-transform: capitalize;

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;

}


.door-area {
    position: absolute;
    width: 600px;
    height: 884px;
    left: 420px;
    top: 140px;

    background: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 15.44%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border-radius: 1000px 1000px 0px 0px;

}