body {
    background: #FFFFFF;
    width: 100vw;
    height: 100vh;
}

.wrap { 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    width: 100vw;
    height: 100vh;
}

.head-title {
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 79.2%;
    /* identical to box height, or 32px */

    text-align: center;
    letter-spacing: -0.04em;
    text-transform: capitalize;

    color: #000000;

    overflow: hidden;
    white-space: nowrap;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;

}

.headline:hover {
    text-decoration: none;
}

#query {

    width: 246px;
    height: 42px;
    background: #F5F5F5;
    color: #1C1C1E;
    border: 0.7647px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 74px;
}


.container-box {
    text-align: center;
    width: 100%;
    height: 80%;
    position: fixed;
    bottom: 0;
}

.btn-basic {

    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: -0.04em;

    line-height: 79.2%;
    color: #000000;

}

.btn-area {
    height: 10%;
}

.btn-right-line {
    margin-left: 53%;
}

.btn-left-line {
    margin-left: 45%;
}

.door-area {
    width: 600px;
    height: 100%;
    top: 200px;
    display: inline-block;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 15.44%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    /* box-shadow: 0px 4px 80px #FFFFFF; */
    border-radius: 1000px 1000px 0px 0px;
    
}

.keywords-in-the-door {
    position: relative;
    bottom: 10px;
    width: 600px;
    top: 50%;
    overflow-x: hidden;
}

.list-container {
    position: absolute;
    width: 100%;
    height: 630px;
    top: 50px;
    text-align: center;

}

.list-on-list {
    transform: rotate(180deg);
    margin-left: 20%;
}

.pagination>li>a, .pagination>li>span {
    border: none !important;
    background-color: #FFFFFF;
    color: #303030 !important;
    opacity: 0.5;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #FFFFFF !important;
    color: #303030 !important;
    opacity: 1;
}

.list-btn {
    left: 0%;
    right: 52.13%;
    width: 70px;
    height: 38px;

    background: #010101;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 763.162px;
}

.table {
    width: 774px !important;
    margin: 0 auto;
    font-size: 24px;
}
.list-search-and-page {
    text-align: center;
    position: relative;
}

.form-container {
    top: 50px;
    position: relative;
    text-align: center;

}

.form-content {

    margin: 0 auto;
    width: 700px;
    height: 850px;
    background-color: #1C1C1E;
    border-radius: 50px;
    text-align: center;
    z-index: 1;
}
.form-contents {
    height: 600px;
    resize: none;

}

.post-form {
    top: 30px;
    position: relative;
    width: 675px;
    margin: 0 auto;
    background-color: #1C1C1E;
}

.form-title {
    font-size: 32px !important;
}

.dream-form {
    border: none;
    margin: 0 auto;
    width:90%; 
    background: #1C1C1E;
    color:#FFFFFF;
    font-size: 24px;
}

.form-footer {
    background: #1C1C1E;
    height: 100px;
    width:90%; 
    margin: 0 auto;
}

.form-user-area {
    display: inline;
    position: absolute;
    background: #1C1C1E;
    width: 60%; 
    left: 30px;
    bottom: 0;
}

.writer-name, .writer-pw {
    position: relative;
    width: 100%;     
}


.form-btn {
    position:absolute;
    bottom: 0;
    right: 20px;
    width: 130px;
    height: 76px;
    background: #FFFFFF;
    border-radius: 1000px;
    font-weight: bold;
    font-size: 24px;

}

.detail-container {
    top: 50px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.text-box {
    padding: 40px;
    width: 656px;
    display: inline-block;
    margin: 0 auto;

    background: #F3F3F7;;
    border-radius: 50px;
}

.dreams {
    text-align: left;
}

.dream-cdate{
    font-weight: bold;
    font-size: 24px;
}

.dream-title {
    font-size: 32px;
}

.dream-content {
    font-size: 20px;
}

.dream-writer {
    font-size: 24px;
}

.popup {
    position: relative;
    width: 650px; 
    height:400px; 
    border-radius: 50px;
    z-index:3;
    background-color:#1C1C1E;
    margin: 0 auto;
    text-align: center;
    top: 200px;
    
}

#editpw, #delpw {
    position: relative;
    top: 40%;
    font-size: 30px;
    background-color: #1C1C1E;
    border : none;
}

#editPost, #deletePost {
    position: absolute;
    width: 155px;
    height: 76px;
    background: #FFFFFF;
    border-radius: 1000px;
    color: #27272A !important;
    font-weight: bold;
    font-size: 24px;
    bottom: 38px;
    right: 38px;

}

.close-btn {
    border: none;
    position: absolute;
    background-color:#1C1C1E;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    top: 15px;
    right: 15px;
}

input[type='submit'], button {
    border: 0;
    outline: 0;
}

input[type="text"]:focus, input[type="text"]:hover, input[type="text"]:active, input[type="password"]:focus, input[type="password"]:hover, input[type="password"]:active, button:focus, button:hover, button:active, textarea:focus, textarea:hover, textarea:active {
    outline: none;
    box-shadow: none;
}

.table>tbody>tr>td {
    padding: 16px 0 16px 0 !important;
}


@media (max-width: 600px) {

    .door-area {width: 100%;}
    .keywords-in-the-door {width: 100%;}
    .btn-left-line { margin-left: 20%; }
    .wrap {width: 100vw; height: 100vh;}

    .form-container {position: relative; width: 100vw; height: 100vh; top: 0;}
    .form-content {position: absolute; width: 100vw; height: 100vh; background-color: #FFFFFF; }
    .post-form {width: 90%; height: 100vh; background-color: #FFFFFF; top: 10px;}
    .form-main { position:absolute;  height: 60%; overflow: auto;}
    .dream-form { width : 100%; background-color: #FFFFFF; color: #1C1C1E; font-size: 18px;} 
    .form-date {color: #010101; text-align:left;}
    .form-title {font-size: 24px !important;} 
    .form-contents {height: 100%; overflow-y: hidden;}
    .form-footer { position: fixed; width : 100%; background-color: #FFFFFF; left: 0;bottom: 0;}
    .form-user-area { top: 10px; bottom: auto; left: 10px;} 
    .form-btn {background-color: #1C1C1E; color: #FFFFFF; top: 20px;bottom: auto; right: 5%; width: 100px; height: 50px; font-size: 15px;}

    .table {width: 100% !important; font-size: 14px; }
    .list-container { width: 100%; height: auto;}
    .list-on-list {margin-left: 30%;}
    .pagination { margin-top: 0 !important; margin-bottom: 20px !important;}
    .page-link {font-size: 20px;}
    .list-search-and-page { bottom: 20px;}
    input { 
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }

    .detail-container {height: auto;}
    .text-box { width: 100%; height: auto;}
    .popup { width: 100vw; height: 75vw;}
    .list-btn {font-size: 14px;}
    #editpw, #delpw {font-size: 20px;}
    #editPost, #deletePost { width: 100px; height: 50px; font-size: 15px;}
}

