body {
    background: #FFFFFF;
    width: 100vw;
    height: 100vh;
}

.wrap { 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    width: 100vw;
    height: 100vh;
}

.head-title {
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 79.2%;
    /* identical to box height, or 32px */

    text-align: center;
    letter-spacing: -0.04em;
    text-transform: capitalize;

    color: #000000;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;

}

.container-box {
    text-align: center;
    width: 100%;
    height: 80%;
    position: fixed;
    bottom: 0;
}

.btn-basic {

    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: -0.04em;

    line-height: 79.2%;
    color: #000000;

}

.btn-area {
    height: 10%;
}

.btn-basic-list {
    margin-left: 53%;
}

.btn-basic-write {
    margin-left: 45%;
}

.door-area {
    width: 600px;
    height: 100%;
    top: 200px;
    display: inline-block;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 15.44%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 4px 80px #FFFFFF;
    border-radius: 1000px 1000px 0px 0px;
    
}

.keywords-in-the-door {
    position: relative;
    bottom: 10px;
    width: 600px;
    height: 600px;
    top: 50%;
    overflow-x: hidden;
}

.list-container {
    position: absolute;
    width: 774px;
    height: 630px;
    left: 333px;
    top: 165px;

}

.form-container {
    position: absolute;
    width: 650px;
    height: 726px;
    left: 395px;
    top: 100px;

    background: #1C1C1E;
    border-radius: 50px;
}

.detail-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px;

    position: absolute;
    width: 656px;
    height: 1576px;
    left: 392px;
    top: 100px;

    background: #1C1C1E;
    border-radius: 50px;
}