body {
    background: #FFFFFF;
    width: 100vw;
    height: 100vh;
}

.wrap { 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    width: 100vw;
    height: 100vh;
}

.head-title {
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 79.2%;
    /* identical to box height, or 32px */

    text-align: center;
    letter-spacing: -0.04em;
    text-transform: capitalize;

    color: #000000;

    overflow: hidden;
    white-space: nowrap;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;

}

.headline:hover {
    text-decoration: none;
}

#query {

    width: 246px;
    height: 42px;
    background: #979797;
    opacity: 0.1;
    border: 0.7647px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 74px;
}


.container-box {
    text-align: center;
    width: 100%;
    height: 80%;
    position: fixed;
    bottom: 0;
}

.btn-basic {

    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: -0.04em;

    line-height: 79.2%;
    color: #000000;

}

.btn-area {
    height: 10%;
}

.btn-basic-list {
    margin-left: 53%;
}

.btn-basic-write {
    margin-left: 45%;
}

.door-area {
    width: 600px;
    height: 100%;
    top: 200px;
    display: inline-block;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 15.44%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 4px 80px #FFFFFF;
    border-radius: 1000px 1000px 0px 0px;
    
}

.keywords-in-the-door {
    position: relative;
    bottom: 10px;
    width: 600px;
    height: 600px;
    top: 50%;
    overflow-x: hidden;
}

.list-container {
    position: absolute;
    width: 100%;
    height: 630px;
    top: 135px;
    text-align: center;

}
.pagination>li>a, .pagination>li>span {
    border: none !important;
    background-color: #FFFFFF;
    color: #303030 !important;
    opacity: 0.5;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #FFFFFF !important;
    color: #303030 !important;
    opacity: 1;
}

.list-btn {
    left: 0%;
    right: 52.13%;
    width: 70px;
    height: 38px;

    background: #010101;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 763.162px;
}

.table {
    width: 774px !important;
    margin: 0 auto;
    font-size: 24px;
}
.list-search-and-page {
    text-align: center;
    position: relative;
}

.form-container {
    top: 50px;
    position: relative;
    text-align: center;

}

.form-content {

    margin: 0 auto;
    width: 700px;
    height: 850px;
    background-color: #1C1C1E;
    border-radius: 50px;
    text-align: center;
    z-index: 1;
}
.form-contents {
    height: 600px;
    resize: none;

}

.post-form {
    top: 30px;
    position: relative;
    width: 675px;
    margin: 0 auto;
    background-color: #1C1C1E;
}

.form-title {
    font-size: 32px !important;
}

.dream-form {
    border: none;
    margin: 0 auto;
    width:90%; 
    background: #1C1C1E;
    color:#FFFFFF;
    font-size: 24px;
}

.form-footer {
    background: #1C1C1E;
    height: 100px;
    width:90%; 
    margin: 0 auto;
}

.form-user-area {
    display: inline;
    position: absolute;
    background: #1C1C1E;
    width: 60%; 
    left: 30px;
    bottom: 0;
}

.writer-name, .writer-pw {
    position: relative;
    width: 100%;     
}


.form-btn {
    position:absolute;
    bottom: 0;
    right: 20px;
    width: 130px;
    height: 76px;
    background: #FFFFFF;
    border-radius: 1000px;
    font-weight: bold;
    font-size: 24px;

}

.detail-container {
    top: 50px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.text-box {
    padding: 40px;
    width: 656px;
    display: inline-block;
    margin: 0 auto;

    background: #F3F3F7;;
    border-radius: 50px;
}

.dreams {
    text-align: left;
}

.dream-cdate{
    font-weight: bold;
    font-size: 24px;
}

.dream-title {
    font-size: 32px;
}

.dream-content {
    font-size: 20px;
}

.dream-writer {
    font-size: 24px;
}