{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="wrap">
    <div class="btn-area">
        <div class="btn-basic btn-list">
            <a href="{% url 'dream_list:index' %}" class="btn-list">
                <img src="{% static 'images/List.png'%}">
                List
            </a>
        </div>
        <div class="btn-basic btn-write">
            <a href="{% url 'dream_list:board_create' %}" class="btn-write">
                <img src="{% static 'images/pencil.png'%}">
                Write
            </a>
        </div>
    </div>
    <div class="door-area">
        <div class="keywords-in-the-door">
        {% if key_list %}
            {% for key in key_list %}
                <a href="{% url 'keywordList:result' key.word %}">{{key.word}}</a>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script type='text/javascript'>

</script>
{% endblock %}