{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="wrap">
    <div class="head-title"></div>
    <div class="btn-area">
        <div class="btn-list">
            <a href="{% url 'dream_list:index' %}" class="btn-list">
                <img src="{% static 'images/List-white.png'%}">
                List
            </a>
        </div>
        <div class="btn-write">
            <a href="{% url 'dream_list:board_create' %}" class="btn-write">
                <img src="{% static 'images/pencil-white.png'%}">
                Write
            </a>
        </div>
    </div>
    <div class="door-area">
        <div class="keywords-in-the-door">
            <div class="keyword"></div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
{% endblock %}